@model CatalogoProductos.Models.Orden

<div class="container">
    <div class="form-group">
        <h1>Crear Orden</h1>
    </div>
    <br />
    <br />
    <div class="row">
        <form class="" id="formularioCrear" method="post" action="@Url.Action("Crear")">
            <div class="form-group">
                <label class="col-lg-8 control-label" for="fecha">Fecha:</label>
                <input class="form-control" type="date" id="fecha" name="fecha" required>
            </div>
            <div class="form-group">
                <label class="col-lg-8 control-label" for="clienteId">Cliente:</label>
                <select class="custom-select" id="clienteId" name="clienteId" required>
                    <option value="">Seleccione un cliente</option>
                    @foreach (var cliente in ViewBag.Clientes)
                    {
                        <option value="@cliente.Id">@cliente.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="col-lg-8 control-label" for="productosSeleccionados">Productos:</label>
                @foreach (var producto in ViewBag.Productos)
                {
                    <div>
                        <input type="checkbox" name="productosSeleccionados[]" value="@producto.Id" />
                        <label>@producto.Nombre</label>
                    </div>
                    <div>
                        <input type="text" name="productosSeleccionados[]" value="@producto.Id" />
                        <label>@producto.Precio</label>
                    </div>
                }
            </div>
            <div class="form-group">
                <label class="col-lg-8 control-label" for="estado">Estado:</label>
                <select class="custom-select" id="estado" name="estado">
                    <option value="Pendiente">Pendiente</option>
                    <option value="EnProceso">En Proceso</option>
                    <option value="Completada">Completada</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Crear Orden</button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script>$(document).ready(function () {
            $('#formularioCrear').submit(function (e) {
                e.preventDefault();

                // Obtener los valores del formulario
                var fecha = $('#fecha').val();
                var clienteId = $('#clienteId').val();
                var productosSeleccionados = [];
                $('input[name="productosSeleccionados[]"]:checked').each(function () {
                    productosSeleccionados.push($(this).val());
                });
                var estado = $('#estado').val();

                // Realizar una petición AJAX para enviar los datos al servidor
                $.ajax({
                    url: $(this).attr('action'),
                    method: $(this).attr('method'),
                    data: {
                        fecha: fecha,
                        clienteId: clienteId,
                        productosSeleccionados: productosSeleccionados,
                        estado: estado
                    },
                    success: function (response) {
                        if (response.success) {
                            // Mostrar notificación SweetAlert2
                            Swal.fire(
                                'Orden creada',
                                'La Orden se creó correctamente',
                                'success'
                            ).then(function () {
                                // Redireccionar a la página de detalles del producto
                                window.location.href = '/Ordenes/Index/';
                            });
                        } else {
                            // Manejar error
                        }
                    },
                    error: function (error) {
                        // Manejar errores
                        console.log(error);
                    }
                });
            });
        });</script>
}
