@model IEnumerable<CatalogoProductos.Models.Orden>

<div>
    <h1>Lista De Ordenes</h1>
</div>
<a class="btn btn-success" href="@Url.Action("Crear")" enctype="multipart/form-data">Crear Orden</a> | <a class="btn btn-primary" href="@Url.Action("ReporteOrdenes", "Ordenes")">Generar Reporte</a>
<br />

<br />
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Estatus</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Total de Ordenes</th>
      
        </tr>
    </thead>
    <tbody>
        @foreach (var orden in Model)
        {
            @foreach (var producto in orden.Productos)
            {
                <tr>
                    <td>@orden.Fecha</td>
                    <td>@orden.Cliente.Nombre</td>
                    <td>@orden.Estatus</td>
                    <td>@producto.Nombre</td>
                    <td>@producto.Descripcion</td>
                    <td>@producto.Precio</td>
                    <td>@orden.Cliente.Ordenes.Count()</td>



                   
                </tr>
                }
            }
        </tbody>
</table>
