@model IEnumerable<CatalogoProductos.Models.Orden>

    <div>
        <h1>Lista De Ordenes</h1>
    </div>
    <a class="btn btn-success" href="@Url.Action("Crear")" enctype="multipart/form-data">Crear Orden</a> | <a class="btn btn-primary" href="@Url.Action("ReporteOrdenes", "Ordenes")">Generar Reporte</a>
    <br />

    <br />
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Estatus</th>
                <th>Nombre Producto</th>
                <th>Descripcion Producto</th>



            </tr>
        </thead>
        <tbody>
            @foreach (var ordenProducto in Model)
            {
               
                    <tr>
                        <td>@ordenProducto.Fecha</td>
                        <td>@ordenProducto.Cliente.Nombre</td>
                        <td>@ordenProducto.Estatus</td>

                        <td>
                            <ul>
                                @foreach (var producto in ordenProducto.Productos)
                                {
                                    <li>@producto.Nombre</li>
                                }
                            </ul>
                        </td>
                        <td>
                            <ul>
                                @foreach (var producto in ordenProducto.Productos)
                                {
                                    <li>@producto.Descripcion</li>
                                }
                            </ul>
                        </td>
                        
                    </tr>
                    
                }
            </tbody>
    </table>
